
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/ea2e9846-046b-434c-8e0b-44e39a2f95f8.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/ce39954d-d30f-4556-98b0-fe660cc2cb83.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/b8cd11ba-9d64-45d3-aa86-4dbc23bb0126.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/a251a2f7-bb31-45af-861b-ba99d6b87329.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/986b1649-fa4c-4596-b9b8-56eac7c355b3.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/97edd747-0434-4493-a81b-79e404de31fc.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/5af152e1-a926-4fff-9524-65116e1e18f2.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/541c88b5-15bd-4b9a-a237-d6d5eb7b8c33.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/45ee18e8-1e80-4356-95e0-da3c7c7843a7.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/1fd9dfb7-3238-4d09-9239-1e101faa8b72.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/ce39954d-d30f-4556-98b0-fe660cc2cb83.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/b8cd11ba-9d64-45d3-aa86-4dbc23bb0126.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/986b1649-fa4c-4596-b9b8-56eac7c355b3.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/5af152e1-a926-4fff-9524-65116e1e18f2.vsidx
CloudStorage-Rocketseat/.vs/CloudStorage-Rocketseat/FileContentIndex/45ee18e8-1e80-4356-95e0-da3c7c7843a7.vsidx
